/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  
}
.dateDay{
	width: 100px;
	color : blue;
	background-color : #C3D9FF;
	text-align: center;
	
	}
.sendButton {
  display: block;
  font-size: 16pt;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.rtl{
	direction: rtl;
}
.ltr{
	direction: ltr;
}

.message {
  background-color: yellow;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

taskCell {
	font-size: 10pt;
	background-color: skyblue;
}
.eval1 {

background: url(eval.png) no-repeat -105px -15px;
width : 14px;
height  : 14px;  
}
.eval2 {
background: url(eval.png) no-repeat -105px 0px;
width : 14px;
height  : 14px; 
}
.eval0 {

background: url(eval.png) no-repeat -90px -15px;
width : 14px;
height  : 14px;  
}
.evalText {
	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 10px;
	width : 23px;
	height : 13px;
	border  : 0px;      
	background-color: #FFFF77;
	text-align: center;  
}
.evalTextKo {
	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 10px;
	background-color: #FFaaaa;
	width : 23px;
	height : 13px; 
	border  : 0px;      
	text-align: center;  
	letter-spacing: 0px;
}
.evalTextOk {
	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 10px;
	background-color: #aaffaa;
	width : 23px;
	height : 13px;    
	border  : 0px;   
	text-align: center;  
	letter-spacing: 0px;
}
.evalTextFocus {
	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 10px;
	background-color: #FFF;
	width : 30px;
	height : 13px;    
	border  : 1px;     
}
.nameTsk {
	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 11px;
	width   :95%; 
	border: 0px;
	background-color: transparent;
}
.timeTsk {

	margin: 0px;
	padding: 0px;
	font-stretch: ultra-condensed;
	font-size: 8px;
	}
.tskcell {
	background:  url(task/gwt/standard/images/hborder.png) repeat-x 0px -2003px;
	width  :100px; 
	height  :24px;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-left: 1px solid #DDD; 
}
.tskcell:hover {
	background:  url(task/gwt/standard/images/hborder.png) repeat-x 0px -990px;
	width  :100px; 
	height  :24px;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-left: 1px solid #DDD; 
}